.bannerPrincipal{
    background-image: url('../../assets/imgs/batman.jpg');
    width: 100%;
    height: 600px;
    background-position: 50% 5%;
    background-size: cover;
}

.main-container{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.main-content{
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#video-filme{
    width: 600px;
    border-radius: 10px;
    margin-right: 15px;
    border: 1px solid white;
}

#sinopse{
    font-size: 24px;
    text-align: justify;
    width: 25%;
    margin-left: 15px;
    color: white;
    
}

.character-container{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.character-content{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 30px;
    align-items: center;
    justify-items: center;   
}

.cards{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 5px;
    padding-bottom: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s;
}

.cards:hover{
    transform: scale(1.02);
}

.card1{
    background-image: url('https://p2.trrsf.com/image/fget/cf/1200/1200/middle/images.terra.com/2022/03/19/2089482429-zoekravitz.jpg');
    background-size: cover;
    background-position: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.card2{
    background-image: url('https://res.cloudinary.com/buzzfeed-brasil/image/upload/q_auto,f_auto/image-uploads/subbuzz-images/jpeg/a02cd04873eeb27d176f96a359939d63.jpg');
    background-size: cover;
    background-position: 50% 10%;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.card3{
    background-image: url('https://ogimg.infoglobo.com.br/in/22818531-da0-6dc/FT1086A/760/jeffrey-wright.JPG');
    background-size: cover;
    background-position: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

